{% extends 'layout.html' %}
{% block title %}Palaćinke - Kontakt{% endblock %}
{% block content %}

<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Kontaktirajte nas</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Imate li kakvih pitanja? Tu smo za Vas!
    </p>

    <div class="text-center">
        <ul class="list-unstyled mb-0">
            <li>
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Sinj, Croatia</p>
            </li>
            <li>
                <i class="fas fa-phone mt-4 fa-2x"></i>
                <p>+ 38599001100</p>
            </li>
            <li>
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>info@palacinke.com</p>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
